/* @font-face {
  font-family: "HvDTrial Niveau Grotesk";
  src: url("/fonts/HvDTrialNiveauGrotesk.woff2") format("woff2"),
       url("/fonts/HvDTrialNiveauGrotesk.woff") format("woff"),
       url("/fonts/HvDTrialNiveauGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
